body{
    background-color: #402a23;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
.navbar  {
    text-decoration: none;
    background-color: #f3bc77;
    
    display: flex;
    width: 100%;

    a{
        color: #f3bc77;
        margin: 10px;
        text-decoration: none;
        font-weight: bold;
        background-color: rgb(121, 67, 31);
        padding: 5px;
        border-radius: 10px;
        display: flex;
        display: grid;
    }
}
#logo img{
    max-width: 50px;
    display: flex;
    float: right;
    border-radius: 50px;
    margin: 5px;
}
.tartalom{
    text-align: center;
    margin-top: 150px;
    color: white;
    background-image: url("../img/fa.jpeg");
    margin: 30px;
    padding: 5px;
}




/* Színkódok:
fekete      background: #1d1716; 
sötét barna background: #402a23; 
nutella     background: #a55233; 
rohadt vaj  background: #f3bc77;  
*/