* {
    box-sizing: border-box;
}

body {
    background-color: #402a23;
    background-image: url("../img/hatter.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.navbar {
    background-color: #f3bc77;
    display: flex;
    width: 100%;
    align-items: center; 
    padding: 5px 20px;
    min-height: 70px;
}


.navbar a {
    color: #f3bc77;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(121, 67, 31);
    padding: 5px 5px;
    border-radius: 10px;
    transition: background 0.3s ease;
}

.navbar a:hover {
    background-color: #a55233; 
}


#logo {
    margin-left: auto; 
    display: flex;
    align-items: center;
}

#logo img {
    max-width: 55px;
    border-radius: 50%;
    border: 2px solid rgb(121, 67, 31);
}


.tartalom {
    text-align: center;
    margin: 50px auto;
    max-width: 800px;
    color: #f3bc77;
    background-image: url("../img/fa.jpeg"); 
    padding: 40px;
    border-radius: 15px;
}
.lablec{
    background-color: #f3bc77;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 15px;
    }

    #logo {
        margin: 0 0 15px 0; 
        order: -1; 
    }

    .navbar a {
        width: 100%;
        margin: 5px 0;
        text-align: center;
    }

    .tartalom {
        margin: 20px;
        padding: 20px;
    }
} 